html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100vw;
}
#slider {
    margin-top: 0;
    padding-top: 0px;
    min-height: 700px;
    width: 1200px;
    overflow: hidden;
}

/*#slider .slides {
    display: block;
    width: 4000px;
    height: 700px;
    margin: 0;
    padding: 0;
}*/
/*-moz-animation-duration-delay-iteration-count*/

/*#slider .slide {
    float: left;
    list-style-type: none;
    width: 1500px;
    height: 700px;
}*/

span.contact {
    font-weight: 600;
    color: #ff5a09;
    text-transform: uppercase;
}
.nav {
    height: 78px;
    width: 100%;
    z-index: 20;
    top: 0;
    bottom: 0;
    display: block;
    background: #393939;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
}
#top {
    position: fixed;
    bottom: 0;
    right: 10px;
    opacity: 0.7;
}
.nav1 {
    color: #ff5a09;
    border-bottom: 3px solid #393939;
    width: 100%;
    position: fixed;
    height: 78px;
    display: block;
    background: #ffffff;
    z-index: 20;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
h1.logo a {
    padding-right: 30px;
    padding-left: 39px;
    color: #ff5a09;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
}
.nav tr td a.list1 {
    text-decoration: none;
    font-size: 19px;
    padding-right: 25px;
    color: white;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.nav1 tr td a.list1 {
    text-decoration: none;
    font-size: 19px;
    padding-right: 25px;
    color: #ff5a09;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.nav tr td a.list1:hover {
    color: #ff5a09;
}
td.portal,
td.portal1 {
    right: 0;
    margin-right: 0;
}
td.portal a {
    display: block;
    table-layout: none;
    font-size: 19px;
    padding-left: 530px;
    padding-right: 30px;
    color: #ff5a09;
    text-decoration: none;
    margin-right: 0;
}
td.portal1 a {
    display: block;
    font-size: 19px;
    color: #ff5a09;
    padding-left: 0px;
    text-decoration: none;
    border: 1px solid #ff5a09;
    border-radius: 8px;
    height: 38px;
    width: 82px;
    line-height: 38px;
}
label {
    font-size: 27px;
    padding-right: 45px;
}
.name-input,
.email-input {
    font-size: 16px;
    height: 28px;
    width: 300px;
}
label.msg {
    padding-right: 19px;
}
.msg-input {
    font-size: 16px;
    height: 80px;
    width: 300px;
}
#contact {
    background: 50% 0 no-repeat;
    min-height: 400px;
}
.sub-btn {
    -moz-animation-duration: 0.5s;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
    background-color: #ff5a09;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    color: #fff;
    border: 2px solid #ff5a09;
    border-radius: 25px;
    display: block;
}
.sub-btn a {
    text-decoration: none;
    color: #fff;
}
.footer {
    overflow: hidden;
    background: #343939;
    height: 430px;
    min-height: 300px;
    flex: 1 0 auto;
    width: 100%;

}
.footer .list ul li {
    color: #ffffff;
    display: inline;
    font-size: 18px;
    padding-left: 120px;
    list-style: none;
    text-decoration: none;
}
.list ul li a {
    text-decoration: none;
    color: #ffffff;
}
.list ul {
    padding-top: 75px;
    padding-right: 130px;
}
.list ul li a:hover {
    color: #ff5a09;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social {
    padding-top: 20px;
}
.social h1 {
    font-weight: 100;
    color: white;
}
span.soc {
    color: #ff5a09;
}
.social ul li {
    list-style: none;
    display: inline;
    padding-right: 50px;
}
.social ul li a img {
    -moz-animation-duration: 0.3s;
}
.copyr {
    color: white;
    font-size: 19px;
}
.quotes {
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin: 0;
    min-height: 300px;
    padding-top: 20px;
    display: block;
    opacity: 0;
}
.quotes img{
    width: 160px;
    margin-top: 0;
}
.quotes p{
    font-size: 23px;
}
section{
    padding-top: 30px;
}
.sec ul {
    opacity: 0;
    padding-left: 122px;
}
.sec ul li{
    list-style: none;
    display: inline;
    padding-right: 100px;
}

.myBox {
    width: 400px;
    position: relative;
    color: #fff;
    background-color: #222;
    padding: 10px 0;
    margin: 0 auto;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.myBoxB {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(-90deg);
    transform-origin: center top;
}
.myBoxB span {
    color: #222;
    background-color: #fff;
    border: 2px #222 solid;
    padding: 10px 0;
    display: block;
    transform: rotateX(180deg);
}
.perspective {
    perspective: 600px;
    padding-top: 43px;
    padding-bottom: 80px;
}
#quote-box{
    /*top: 0;*/
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    background: url('../assets/quote.jpg') 0 50% no-repeat fixed;
    background-size: cover;
}

#about-us{
    padding: 0;
    overflow: hidden;
    opacity: 0;
    padding-bottom: 50px;
    height: 200px;
}
#about-us p{
    font-size: 22 px;
    font-weight: 400px;
}
#about-us h2{
    font-size: 35px;
    font-weight: 400;
}